# Flask==2.1.2              # For the Flask backend server
# firebase-admin==5.2.0      # Firebase Admin SDK to interact with Firestore                  # For GUI (Tkinter is usually bundled with Python, but it’s good to mention it if needed)
pandas                     # For data manipulation (especially useful for transactions)
numpy                      # For numerical operations, may come in handy for predictions
# scikit-learn==1.0.2        # For machine learning models (e.g., RNN, ANN)
matplotlib                 # For data visualization (graphs, plots, etc.)
# pyngrok                    # For setting up ngrok (local tunneling to expose Flask server)
# requests     
ttkthemes       
networkx       # For making HTTP requests (optional but useful if you need to make any API calls)